.banner {
  box-sizing: border-box;
  width: 100vw;
  padding: 0 20px;
  height: calc(100vh - 70px);
  background-image: url(./img/Moana_official_poster.webp);
  background-size: cover;
}

.banner-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: left;
}

.banner-info h2 {
  margin: 0;
}

.banner-info h2,
.banner-info p,
.banner-info button {
  z-index: 2;
}

.button-container {
  display: flex;
}

.button-container button:nth-child(1) {
  background: #37a925;
  width: 95px;
  height: 30px;
  border-radius: 15px;
  border: none;
  color: #ffffff;
  margin-right: 20px;
}

.button-container button:nth-last-child(1) {
  width: 95px;
  height: 30px;
  background: none;
  border: 2px solid #37a925;
  color: #ffffff;
  border-radius: 15px;
}

.cardMovie-container {
  box-sizing: border-box;
  width: 100vw;
  padding: 0 20px;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
}

.cardMovie-container h2 {
  margin: 20px auto 0 0;
  height: fit-content;
}

.card-movie {
  position: relative;
  margin-top: 25px;
  height: 290px;
  width: calc(50% - 10px);
  border-radius: 5px;
}

.card-movie img {
  height: 220px;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
}

.card-movie span {
  position: absolute;
  right: 0px;
  width: 40px;
  height: 30px;
  background: black;
}

.card-movie p {
  margin: 5px;
  width: 30%;
  height: 10px;
}

.movie-info {
  width: 100%;
  max-height: 70px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  text-overflow: ellipsis;
}

.movie-info p {
  margin: 0;
  height: fit-content;
}

.movie-info p:nth-child(1) {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  min-height: 45px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box; /* Para navegadores basados en WebKit */
  -webkit-line-clamp: 2; /* Especifica el número máximo de líneas a mostrar */
  -webkit-box-orient: vertical; /* Establece la dirección de las líneas */
  transition: all 500ms;
}

.movie-info p:nth-child(1):hover {
  color: #ff0000;
}

.movie-info p:nth-child(2) {
  width: 40%;
  margin-right: auto;
}

.movie-info button {
  color: white;
  background: none;
  border: none;
}

.movie-info button svg {
  height: 14px;
  width: 20px;
}

.movie-container {
  box-sizing: border-box;
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.backdrop-movie {
  height: calc(100vh - 70px);
  width: 100vw;
  object-fit: cover;
  position: absolute;
}

.main-movie h2 {
  margin: 0;
}

.mt70 {
  margin-top: 70px;
}

.movie-info-container {
  box-sizing: border-box;
  width: 100vw;
  padding: 0 20px;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
}

.movie-info-container p {
  font-size: 14px;
  margin: 0;
  text-align: left;
  width: 75%;
}
