#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  box-sizing: border-box;
  max-width: 100vw;
  min-width: 100vw;
  margin: 0;
  background: #1D1D1D;
  scroll-behavior: smooth;
}

header {
  box-sizing: border-box;
  width: 100vw;
  height: 70px;
  background: #1D1D1D;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #FCF9F9;
  position: fixed;
  top: 0;
  z-index: 5;
}

header h1 {
  color: #338F24;
  margin: 0;
}

header button {
  margin: 0 25px 0 0;
}


header nav {
  height: 100vh;
  width: 70vw;
  background: green;
  position: absolute;
  top: 0;
  left: 0;
  animation: display-menu 400ms ease-in-out 1;
}

.menu-glass {
  width: 30vw;
  height: 100vh;
  background: rgba(61, 60, 60, 0.6);
  position: absolute;
  top: 0;
  left: 70vw;
}

header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.closed {
  animation: close-menu 1s ease 1;
}

@keyframes close-menu {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}

@keyframes display-menu {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}








.banner {
  box-sizing: border-box;
  width: 100vw;
  padding: 0 20px;
  height: calc(100vh - 70px);
  background-image: url(./img/Moana_official_poster.webp);
  background-size: cover;
  margin-top: 70px;
}

.banner-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: left;
}

.banner-info h2 {
  margin: 0;
}

.button-container {
  display: flex;
}

.button-container button:nth-child(1) {
  background: #37A925;
  width: 95px;
  height: 30px;
  border-radius: 15px;
  border: none;
  color: #FFFFFF;
  margin-right: 20px;
}

.button-container button:nth-last-child(1) {
  width: 95px;
  height: 30px;
  background: none;
  border: 2px solid #37A925;
  color: #FFFFFF;
  border-radius: 15px;
}








main {
  box-sizing: border-box;
  width: 100vw;
  padding: 0 20px;
  height: calc(100vh - 70px);

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

main h2 {
  margin: 20px auto 0 0;
  height: fit-content;
}

.card-movie {
  position: relative;
  margin-top: 25px;
  height: 290px;
  width: calc(50% - 10px);
  border-radius: 5px;
}

.card-movie img {
  height: 220px;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
}

.card-movie span {
  position: absolute;
  right: 0px;
  width: 30px;
  height: 30px;
  background: black;
}

.card-movie p {
  margin: 5px;
  width: 30%;
  height: 10px;
}

.movie-info {
  width: 100%;
  max-height: 70px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  text-overflow: ellipsis;
}

.movie-info p {
  margin: 0;
  height: fit-content;
}

.movie-info p:nth-child(1) {
  color: red;
  width: 100%;
  height: 50px;
}

.movie-info p:nth-child(2) {
  width: 40%;
  margin-right: auto;
}

.movie-info p:nth-child(3) {
  text-align: right;
}














.main-movie {
  margin-top: 70px;
}

.main-movie img {
  height: 50vh;
  width: 100vw;
}

.main-movie h2 {
  margin: 0;
}